*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
#container{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    box-shadow: 0px 0px 3px dimgray;
    width: 390px;
    aspect-ratio: 2 / 2.7;
    border-radius: 5px;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;

    & h2{
        text-align: center;
        letter-spacing: 2px;
        color: rgb(116, 114, 114);
        font-family: 40px !important;
        text-transform: uppercase;
        margin: 25px 0;
    }
    & > span{
        color: red;
        font-size: 16px;
        font-weight: 400;
    }

    & div#fistandlast-wrapper{
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }

    & div.input-wrapper{
        margin-top: 15px !important;
        & > input{
            width: 100%;
            border: 1px solid dimgray;
            display: block;
            margin-top: 5px;
            border-radius: 20px;
            outline: none;
            padding: 10px;
            font-size: 17px;
            padding-left: 15px;
            &:focus{
                border-color: blue;
            }
        }
    }
    & > button{
        background-color: transparent;
        margin-top: 45px;
        position: relative;
        color: black;
        height: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 170px;
        font-weight: 600;
        outline: none;
        border: 1px solid black;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        &:hover{
                color: white;
                border-color: white;
                background-color: black;
            &::before{
                left: 0;
            }
        }
        & > span{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 1;
        }
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            top: 0;
            left: -100%;
            height: 100%;
            background-color: black;
            transition: left 0.5s ease-in-out;
            z-index: 0;
        }
    }
}